* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

body {
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  direction: column;
}

/* Card */
.container {
  background-color: white;
  width: 350px;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 8px 8px 0px black;
}

/* Main image */
.img {
  width: 100%;
  border-radius: 12px;
}

/* Tag */
.tag {
  background-color: hsl(47, 88%, 63%);
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 800;
  width: fit-content;
}

/* Date */
.date {
  font-size: 14px;
  color: hsl(0, 0%, 20%);
}

/* Title */
.title {
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
}

.title:hover {
  color: hsl(47, 88%, 63%);
}

/* Description */
.description {
  font-size: 16px;
  color: hsl(0, 0%, 42%);
  line-height: 1.5;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.profile h3 {
  font-size: 14px;
  font-weight: 800;
}


.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
  color: hsl(0, 0%, 20%);
}
